<footer class="section">
  <div class="container grid">
    <div class="brand">
      <a class="logo logo-alt" href="#home">Mat<span>Dev</span>.</a>
      <p>©2021 MatDev.</p>
    </div>

    <div class="social grid">
      <a href="https://www.instagram.com/mano_zulu_kid/" target="_blank">
        <i class="icon-instagram"></i>
      </a>
      <a href="https://www.facebook.com/kaique.pires.75/" target="_blank">
        <i class="icon-facebook"></i></a>

    </div>
  </div>
</footer>

 <!-- swiper -->
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

 <!-- scrollreveal -->
 <script src="https://unpkg.com/scrollreveal"></script>

 <!-- main.js -->
 <script src="../../JS/main.js"></script>