<!DOCTYPE html>

<%- include('../partial/head'); %>

<body>
  <%- include('../partial/header'); %>
  <main>
    <!-- HOME -->
    <section class="section" id="home">
      <div class="container grid">
        <div class="image">
          <img src="assets/fotos/IMG-20190720-WA0001.jpg" />
        </div>
        <div class="text">
          <h2 class="title">Sou o Kaique</h2>
          <p>
            Estudante de desenvolvimento que criou essa página para aplicar alguns aprendizados e aperfeiçoá-los com
            problemas reais.
          </p>
          <a class="button" href="#contact">Contate-me !</a>
        </div>
      </div>
    </section>

    <div class="divider-1"></div>

    <!-- ABOUT -->
    <section class="section" id="about">
      <div class="container grid">
        <div class="image">
          <img src="assets/fotos/markus-spiske-Skf7HxARcoc-unsplash.jpg" />
        </div>
        <div class="text">
          <h2 class="title">Sobre mim</h2>
          <p>
            Sou uma pessoa muito caseira e apaixonada por tecnologia e procuro novos conhecimentos a cada dia, resolver
            problemas parece meu hobby, nem todos são fáceis, mas concluídos todos são satisfatórios.
          </p>
          <br />
          <p>
            Terminei o ensino médio em 2015, larguei os estudos e fui trabalhar. Em 2019 como eu já mexia com sistemas
            embarcados iniciei meus estudos em arduíno, depois quis algo mais comercial onde comecei a aprender sobre
            desenvolvimento de sites e banco de dados, achei que cursos extracurriculares não eram suficientes para uma
            boa carreira então em 2020 eu consegui ingressar na faculdade.
          </p>
          <br />
          <p>
            “Trabalhar com o que você gosta pode ser a coisa mais satisfatória que se tem”, ouvi isso de um profissional
            de biológicas da policia federal, e mesmo que seja difícil eu vou conseguir.
          </p>
        </div>
      </div>
    </section>

    <div class="divider-2"></div>

    <!-- projects -->
    <section class="section" id="projects">
      <div class="container grid">
        <header>
          <h2 class="title">Projetos</h2>
          <p class="subtitle">
            Aqui estão alguns dos projetos que estou trabalhando, todas as páginas foram desenvolvidas em aulas online,
            por isso planejo desenvolver novas features
          </p>
        </header>
        <div class="cards grid">
          <div class="card">
            <img src="assets/fotos/Captura de tela de 2021-10-09 04-14-43.png">
            <h3 class="title">Mata Moscas</h3>
            <p style="padding: 15px;">
              Jogo desenvolvido em JavaScript em aprenzizado de desenvolvimento WEB
            </p>
            <p><a href="mataMosca">Ver</a></p>
          </div>
          <div class="card">
            <img src="assets/fotos/Captura de tela de 2021-10-09 04-26-28.png">
            <h3 class="title">Tic Tac Toe</h3>
            <p style="padding: 15px;">
              Código de aulas do <a href="https://www.youtube.com/c/codigofontetv">Codigo Fonte TV</a>
            </p>
            <p><a href="ticTacToe">Ver</a></p>
          </div>
          <div class="card">
            <img src="assets/fotos/Captura de tela de 2021-10-16 12-03-05.png">
            <h3 class="title">Calculadora</h3>
            <p style="padding: 15px;">
              Meu primeiro código JavaScript, feito para desenvolver habilidades e teorias aprendias em cursos online
            </p>
            <p><a href="calc">Ver</a></p>
          </div>
        </div>
      </div>
    </section>

    <div class="divider-1"></div>

    <!-- CONTACT -->
    <section class="section" id="contact">
      <div class="container grid">
        <div class="text">
          <h2 class="title">Entre em contato comigo!</h2>
          <p>
            Entre em contato comigo, adoraria ouvir suas sugestões, dúvidas ou críticas.
          </p>
          <a href="https://api.whatsapp.com/send?phone=+5511932268621&text=Oi. Gostaria de saber mais sobre você!"
            class="button" target="_blank"><i class="icon-whatsapp"></i> Entrar em contato</a>
        </div>

        <div class="links">
          <ul class="grid">
            <li><i class="icon-phone"></i> 11 93226-8621</li>
            <li><i class="icon-mail"></i> kaiqueroberto.pires@gmail.com</li>
          </ul>
        </div>
      </div>
    </section>
    <div class="divider-1"></div>
  </main>

  <%- include('../partial/footer'); %>

</body>

</html>