<!DOCTYPE html>
<html>

<%- include('../partial/headKill'); %>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/fotos/vitoria.png" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark btn-lg"
                        onclick="window.location.href = 'mataMosca' ">Reiniciar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>